<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>LoginService</servlet-name>
		<display-name>LoginService</display-name>
		<description></description>
		<servlet-class>controller.LoginService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LunchuListService</servlet-name>
		<display-name>LunchuListService</display-name>
		<description></description>
		<servlet-class>controller.LunchuListService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutService</servlet-name>
		<display-name>LogoutService</display-name>
		<description></description>
		<servlet-class>controller.LogoutService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateMember</servlet-name>
		<display-name>UpdateMember</display-name>
		<description></description>
		<servlet-class>controller.UpdateMember</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateMemberService</servlet-name>
		<display-name>UpdateMemberService</display-name>
		<description></description>
		<servlet-class>controller.UpdateMemberService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateGroup</servlet-name>
		<display-name>CreateGroup</display-name>
		<description></description>
		<servlet-class>controller.CreateGroup</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchService</servlet-name>
		<display-name>SearchService</display-name>
		<description></description>
		<servlet-class>controller.SearchService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchService</servlet-name>
		<display-name>SearchService</display-name>
		<description></description>
		<servlet-class>controller.SearchService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteGroupService</servlet-name>
		<display-name>DeleteGroupService</display-name>
		<description></description>
		<servlet-class>controller.DeleteGroupService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectRestGroupService</servlet-name>
		<display-name>SelectRestGroupService</display-name>
		<description></description>
		<servlet-class>controller.SelectRestGroupService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RestGroupService</servlet-name>
		<display-name>RestGroupService</display-name>
		<description></description>
		<servlet-class>controller.RestGroupService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Add2GroupService</servlet-name>
		<display-name>Add2GroupService</display-name>
		<description></description>
		<servlet-class>controller.Add2GroupService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DelRestFromGroup</servlet-name>
		<display-name>DelRestFromGroup</display-name>
		<description></description>
		<servlet-class>controller.DelRestFromGroup</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginService</servlet-name>
		<url-pattern>/LoginService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutService</servlet-name>
		<url-pattern>/LogoutService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateMember</servlet-name>
		<url-pattern>/UpdateMember</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateMemberService</servlet-name>
		<url-pattern>/UpdateMemberService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateGroup</servlet-name>
		<url-pattern>/CreateGroup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchService</servlet-name>
		<url-pattern>/SearchService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteGroupService</servlet-name>
		<url-pattern>/DeleteGroupService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectRestGroupService</servlet-name>
		<url-pattern>/SelectRestGroupService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RestGroupService</servlet-name>
		<url-pattern>/RestGroupService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Add2GroupService</servlet-name>
		<url-pattern>/Add2GroupService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DelRestFromGroup</servlet-name>
		<url-pattern>/DelRestFromGroup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LunchuListService</servlet-name>
		<url-pattern>/LunchuListService</url-pattern>
	</servlet-mapping>
</web-app>