/**/
@import "../css/reset.css";

@import "../css/grid.css";

@import "../css/superfish.css";

@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

@import url(http://fonts.googleapis.com/css?family=Lobster);

@font-face {
    font-family: 'MICEGothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.visual{
    position: relative;
    text-align:center;
    width: 940px;
    margin-left: 10px;
}
.novisual{
    width: 940px;
}
.categorydiv{
	text-align: center;
	margin: 10px;
	width: 200px;
}

.visual button{
    position: absolute;
    z-index: 10;
    top: 45%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: grey;
    border: none;
}
.visual button:before{
    font-family: 'xeicon';
    color: #fff;
    font-size: 20px;

}
.visual button.slick-prev{
    left:-10px;
    font-size: 0;
    color: transparent;
}
.visual button.slick-prev:before{
    content:"\e93d" ;
    font-size: 10px;
    font-weight : bold;
    font-family: 'xeicon';
    cursor : pointer
}

.visual button.slick-next{
    right:-10px;
    font-size: 0;
    color: transparent;
}
.visual button.slick-next:before{
   content:"\e940" ;
   font-size: 10px;
    font-weight : bold;
   font-family: 'xeicon';
   cursor : pointer
}

.wrap {
	position: absolute;
	left: 0;
	bottom: 40px;
	width: 288px;
	height: 132px;
	margin-left: -144px;
	text-align: left;
	overflow: hidden;
	font-size: 12px;
	font-family: 'MICEGothic Bold';
	line-height: 1.5;
}

.wrap * {
	padding: 0;
	margin: 0;
}

.wrap .info {
	width: auto;
	height: auto;
	border-radius: 5px;
	border-bottom: 2px solid #ccc;
	border-right: 1px solid #ccc;
	overflow: hidden;
	background: #fff;
}

.wrap .info:nth-child(1) {
	border: 0;
	box-shadow: 0px 1px 2px #888;
}

.info .title {
	padding: 5px 0 0 10px;
	height: 30px;
	background: #eee;
	border-bottom: 1px solid #ddd;
	font-size: 18px;
	font-weight: bold;
	font-family: 'MICEGothic Bold';
}

.info .close {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #888;
	width: 17px;
	height: 17px;
	background:
		url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');
}

.info .close:hover {
	cursor: pointer;
}

.info .body {
	position: relative;
	overflow: hidden;
}

.info .desc {
	position: relative;
	margin: 13px 0 0 90px;
	height: 75px;
}

.desc .ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.desc .jibun {
	font-size: 11px;
	color: #888;
	margin-top: -2px;
	font-family: 'MICEGothic Bold';
}

.info .img {
	position: absolute;
	top: 6px;
	left: 5px;
	width: 73px;
	height: 71px;
	border: 1px solid #ddd;
	color: #888;
	overflow: hidden;
}

.info:after {
	content: '';
	position: absolute;
	margin-left: -12px;
	left: 50%;
	bottom: 0;
	width: 22px;
	height: 12px;
	background:
		url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}

.info .link {
	color: #5085BB;
}

html {
	width: 100%;
}

a[href^="tel:"] {
	color: inherit;
	text-decoration: none;
}

* {
	-webkit-text-size-adjust: none;
}

body {
	font: 14px/18px;
	color: #826660;
	position: relative;
	min-width: 960px;
	background: #f2f0f0;
	font-family: 'MICEGothic Bold';
}

.ic {
	border: 0;
	float: right;
	background: #fff;
	color: #f00;
	width: 50%;
	line-height: 10px;
	font-size: 10px;
	margin: -220% 0 0 0;
	overflow: hidden;
	padding: 0;
	font-family: 'MICEGothic Bold';
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #5d0400;
	font-family: 'MICEGothic Bold';
}

h2 {
	font-size: 25px;
	line-height: 30px;
	font-family: 'MICEGothic Bold';
}

h3 {
	font-size: 20px;
	line-height: 24px;
	font-family: 'MICEGothic Bold';
}

p {
	margin-bottom: 18px;
}

p.inn1 {
	padding-top: 2px;
	margin-bottom: 20px;
}

img {
	max-width: 100%;
}

address {
	font-style: normal;
	font-family: 'MICEGothic Bold';
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.list li {
	background: url(../images/marker.png) 0 8px no-repeat;
	padding-left: 11px;
	color: #464646;
	margin-bottom: 5.5px;
}

ul.list.l1 li {
	margin-bottom: 5.2px;
}

/*links*/
a {
	text-decoration: none;
	color: inherit;
	outline: none;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

a:hover {
	color: #699440;
}

a.btn {
	font-size: 12px;
	display: inline-block;
	background: #e2827e;
	padding: 5px 14px 4px;
	border-radius: 4px;
	margin-top: 17px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'MICEGothic Bold';
}

a.btn:hover {
	background: #699440;
}

a.btn.m1 {
	margin-top: 30px;
	margin-bottom: 1px;
}

/*preclass*/
.mb0 {
	margin-bottom: 0px !important;
}

.m0 {
	margin: 0 !important;
}

.ind1 {
	margin-top: 11px;
}

.pad0 {
	padding: 0 !important;
}

.pt0 {
	padding-top: 0;
}

/* 
.img_inner {
	max-width: 100%;
	padding: 7px;
	background: #fff;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #e6e4e4;
	margin-bottom: 19px;
	box-shadow: 2px 2px 4px #ddd;
} */
.fleft {
	float: left;
	margin-right: 20px;
	margin-bottom: 0;
}

.fright {
	float: right !important;
}

.upp {
	text-transform: uppercase;
}

.alright {
	text-align: right;
}

.center {
	text-align: center;
}

.wrapper, .extra_wrapper {
	overflow: hidden;
}

.clear {
	float: none !important;
	clear: both;
}

.col1 {
	color: #464646;
}

.col2 {
	color: #e1837f;
}

.hor_separator {
	background: url(../images/hor_separator.png) 0 bottom no-repeat;
	height: 40px;
}

/*header*/
header {
	display: block;
	padding-top: 16px;
	position: relative;
	z-index: 999;
	background: white;
	padding-bottom: 31px;
	border-bottom: 1px solid #dddbdb;
	box-shadow: 0 1px 5px #ccc;
}

header h1 {
	float: none;
	position: relative;
	z-index: 999;
}

header h1 a {
	display: block;
	overflow: hidden;
	margin: 0 auto;
	width: 275px;
	float: left;
	height: 125px;
	text-indent: -999px;
	transition: 0s ease;
	-o-transition: 0s ease;
	-webkit-transition: 0s ease;
}

header h1 a img {
	display: block;
}

.main {
	background-color: white;
}

/*Content*/
.content h2 {
	padding-top: 36px;
	font-size: 24px;
	color: #79302b;
	margin-bottom: 17px;
	font-family: 'MICEGothic Bold';
}

/* .content.page1 {
	padding-top: 50px;
	background: url(../images/hor_separator.png) center 50px no-repeat;
} */
.content.page1 h2 {
	font-size: 25px;
	padding-top: 43px;
	margin-bottom: 19px;
	color: #5D0400;
	font-family: 'MICEGothic Bold';
}

.page1_block img {
	float: left;
	margin-top: 2px;
	margin-right: 24px;
}

.car_wrap {
	position: relative;
	margin: 0 -10px;
	overflow: hidden;
}

.content.page1 .car_wrap h2 {
	padding-left: 10px;
	padding-top: 23px;
	padding-bottom: 3px;
}

.carousel1 {
	height: 249px;
}

.carousel1 li {
	float: left;
	width: 240px !important;
	font-size: 12px;
	font-family: 'MICEGothic Bold';
}

.carousel1 li>div {
	padding: 0 10px;
}

.carousel1 li .price {
	display: inline-block;
	background: #699440;
	color: #fff;
	min-width: 41px;
	height: 38px;
	border-radius: 4px;
	font: 20px/36px;
	text-align: center;
	margin-top: 15px;
	font-family: 'MICEGothic Bold';
}

.carousel1 li span {
	line-height: 16px;
}

.carousel1 img {
	box-shadow: 2px 2px 3px #ddd;
	padding: 4px;
	background: #fff;
	border: 1px solid #e6e4e4;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 19px;
}

.carousel2 {
	height: 249px;
}

.carousel2 li {
	float: left;
	width: 240px !important;
	font-size: 12px;
	font-family: 'MICEGothic Bold';
}

.carousel2 li>div {
	padding: 0 10px;
}

.carousel2 li .price {
	display: inline-block;
	background: #699440;
	color: #fff;
	min-width: 41px;
	height: 38px;
	border-radius: 4px;
	font: 20px/36px;
	text-align: center;
	margin-top: 15px;
	font-family: 'MICEGothic Bold';
}

.carousel2 li span {
	line-height: 16px;
}

.carousel2 img {
	box-shadow: 2px 2px 3px #ddd;
	padding: 4px;
	background: #fff;
	border: 1px solid #e6e4e4;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 19px;
}

.prev {
	background: url(../images/prevnext.png) 0 bottom no-repeat;
	display: block;
	position: absolute;
	right: 42px;
	top: 9px;
	width: 32px;
	z-index: 999;
	height: 30px;
}

.prev:hover {
	background-position: 0 0;
}

.prevv {
	background: url(../images/prevnext.png) 0 bottom no-repeat;
	display: block;
	position: absolute;
	right: 42px;
	top: 9px;
	width: 32px;
	z-index: 999;
	height: 30px;
}

.prevv:hover {
	background-position: 0 0;
}

.next {
	background: url(../images/prevnext.png) right bottom no-repeat;
	display: block;
	z-index: 999;
	position: absolute;
	right: 10px;
	top: 9px;
	width: 32px;
	height: 30px;
}

.next:hover {
	background-position: right 0;
}

.nextt {
	background: url(../images/prevnext.png) right bottom no-repeat;
	display: block;
	z-index: 999;
	position: absolute;
	right: 10px;
	top: 9px;
	width: 32px;
	height: 30px;
}

.nextt:hover {
	background-position: right 0;
}

.bottom_block {
	background: url(../images/hor_separator.png) center 38px no-repeat;
	padding-top: 38px;
	font-size: 12px;
	padding-bottom: 34px;
	overflow: hidden;
	font-family: 'MICEGothic Bold';
}

.bottom_block h3 {
	padding-top: 39px;
	margin-bottom: 25px;
}

.socials {
	overflow: hidden;
}

.bottom_block nav {
	padding-top: 27px;
}

.bottom_block nav li {
	float: left;
}

.bottom_block nav li+li {
	margin-left: 19px;
}

.bottom_block nav {
	font-size: 12px;
	text-transform: uppercase;
	color: #504f4f;
	font-family: 'MICEGothic Bold';
}

.bottom_block p {
	margin-top: -5px;
}

.bottom_block nav li.current {
	color: #699440;
}

.socials a {
	background: url(../images/socials.png) 0 0 no-repeat;
	width: 26px;
	float: left;
	display: block;
	height: 27px;
	margin-left: 11px;
}

.socials a:hover {
	opacity: 0.5;
}

.socials a:first-child {
	margin-left: 0;
}

.socials a:first-child+a {
	background: url(../images/socials.png) -38px 0 no-repeat;
}

.socials a:first-child+a+a {
	background: url(../images/socials.png) right 0 no-repeat;
}

.carousel2 li img {
	float: left;
	margin-top: -1px;
	margin-right: 20px;
}

.carousel2 li {
	float: left;
	width: 410px !important;
}

.carousel2 li .title {
	font-size: 24px;
	line-height: 22.9px;
	font-family: 'MICEGothic Bold';
	color: #e2827e;
	text-align: center;
	padding-top: 36px;
}

.carousel1 .col1 {
	line-height: 22.9px;
	margin-bottom: 6px;
	padding-top: 10px;
}

.carousel2 .col1 {
	line-height: 22.9px;
	margin-bottom: 6px;
	padding-top: 10px;
}

.prev1 {
	background: url(../images/prevnext.png) 0 bottom no-repeat;
	display: block;
	float: right;
	width: 32px;
	z-index: 999;
	height: 30px;
	margin-top: 8px;
}

.prev1:hover {
	background-position: 0 0;
}

.next1 {
	background: url(../images/prevnext.png) right bottom no-repeat;
	display: block;
	z-index: 999;
	float: right;
	width: 32px;
	height: 30px;
	margin-top: 8px;
}

.next1:hover {
	background-position: right 0;
}

.hor_separator.hor1 {
	margin-top: 13px;
}

.content h2.head1 {
	padding-top: 28px;
	font-size: 25px;
	font-family: 'MICEGothic Bold';
}

.content h2.head2 {
	font-size: 25px;
	padding-top: 35px;
	margin-bottom: 20px;
	font-family: 'MICEGothic Bold';
}

.chefs {
	padding-top: 7px;
}

.chefs .img_inner {
	padding: 10px 4px;
}

.chefs .col1 {
	font-size: 12px;
	padding-top: 8px;
	margin-bottom: 16px;
	font-family: 'MICEGothic Bold';
}

.menu {
	padding-top: 8px;
}

.menu h3 {
	color: #85423f;
	margin-bottom: 22px;
}

.menu .img_inner {
	padding: 5px 4px;
	margin-bottom: 12px;
}

.news .img_inner {
	padding: 4px;
	margin-top: 1px;
}

.news {
	font-size: 12px;
	margin-bottom: 52px;
	font-family: 'MICEGothic Bold';
}

.news .extra_wrapper {
	position: relative;
	top: -4px;
}

.news a.btn {
	margin-top: 5px;
}

#newsletter {
	position: relative;
}

#newsletter label {
	display: block;
	position: relative;
	width: 313px;
	float: left;
	padding-top: 1px;
	z-index: 1;
}

#newsletter input {
	border: 1px solid #d9d8d8;
	float: left;
	color: #a8a8a8;
	width: 220px;
	height: 30px;
	font: 12px/18px;
	padding: 6px 10px;
	box-shadow: none !important;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'MICEGothic Bold';
}

#newsletter a.btn {
	float: right;
	text-transform: capitalize;
	font-size: 13px;
	margin-top: 0;
	padding-top: 6px;
	padding-bottom: 6px;
	font-family: 'MICEGothic Bold';
}

#newsletter .error, #form1 .empty {
	height: 0px;
	top: 35px;
	width: 100%;
	left: 4px;
	font-size: 10px;
	line-height: 13px;
	display: block;
	overflow: hidden;
	z-index: 999;
	color: #ff0000;
	-webkit-transition: 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	position: absolute;
	font-family: 'MICEGothic Bold';
}

#newsletter label.invalid .error {
	/*display: block;*/
	height: 40px;
}

#newsletter .success {
	width: 220px;
	z-index: 999;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	display: none;
	top: 0px;
	border: 1px solid #d9d8d8;
	background: #fff;
	left: 0px;
	font-size: 12px;
	color: #a7a7a7;
	overflow: hidden;
	padding: 10px;
	-webkit-transition: 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	position: absolute;
	font-family: 'MICEGothic Bold';
}

/****Map***/
.map {
	padding-top: 6px;
	color: #848383;
}

.map figure iframe {
	position: relative;
	display: grid;
	width: 100%;
}

.map address {
	float: left;
	margin-right: 80px;
}

.map .text1 {
	line-height: 20px;
	margin-bottom: 2px;
}

/************Footer***********/
footer {
	display: block;
	padding: 45px 0;
	font-size: 12px;
	color: #fff;
	text-align: center;
	font-family: 'MICEGothic Bold';
}

footer a:hover {
	color: #fff;
	text-decoration: underline;
}

/****************지은*****************/
table {
	/* border-top: solid 1.5px black; */
	border-collapse: collapse;
	width: 90%;
	font-size: 14px;
	font-family: 'MICEGothic Bold';
}

thead {
	vertical-align: middle;
	font-family: 'MICEGothic Bold';
	margin-top: 10px;
	font-size: 25px;
	text-align: center;
	font-weight: bold;
}

td {
	font-size: 12px;
	height: 50px;
	padding: 15px 0px;
	border-bottom: 1px solid lightgrey;
	font-family: 'MICEGothic Bold';
}

.review_detail {
	font-size: 20px;
	margin-top: 6px;
	font-weight: bold;
	text-align: center;
	font-family: 'MICEGothic Bold';
}

.review_delete {
	font-size: 10px;
	padding: 7px;
	background-color: limegreen;
	border: none;
	border-radius: 5px;
	padding: 4px 8px;
	font-size: 12px;
	margin-top: 5px;
	font-family: 'MICEGothic Bold';
}

.review_col {
	padding-top: 15px;
}

.grid_12 img {
	height: 100%;
}

.new_group_btn {
	display: inline;
	position: relative;
}

.restaurant_col {
	padding-top: 15px;
}

.restaurant_list {
	display: grid;
	position: relative;
	width: 200px;
}

.sequence {
	width: 20px;
}

.group_detail {
	width: 80px;
}

.inn1>a:hover {
	color: #dd3513;
	font-style: bold;
	font-family: 'MICEGothic Bold';
}

.add_new_group:hover {
	background-color: #cbcbcb;
}

.scroll_box {
	width: 90%;
	height: 70%;
	overflow: auto;
}

tbody {
	font-size: 12px;
	font-family: 'MICEGothic Bold';
}

.exit {
	float: right;
}

.restaurant_info {
	margin-bottom: 20px;
}

.container_12 .restaurant_detail {
	padding-left: 10px;
	width: 38%;
}

.container_12 {
	background-color: white;
}

/* YOUTUBE VIDEO */
.youtube{
  position: relative;
  height: 700px;
  background-color: #333;
  overflow: hidden;
}
.youtube .youtube__area{
  width: 1920px;
  background-color: orange;
  position: absolute;
  left: 50%;
  margin-left: calc(1920px / -2);
  top: 50%;
  margin-top: calc(1920px * 9 / 16 / -2);
}
.youtube .youtube__area::before{
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}
.youtube .youtube__cover{
  background-image: url("../images/youtube.png");
  background-color: rgb(0, 0, 0, .3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#player{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
}